<!DOCTYPE HTML>
<html>
<head>
    <title>bergtechlab-Kubernetes</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/static/assets/css/main.css" />
    <link rel="stylesheet" href="/static/assets/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/themes/prism.min.css" />

    <!-- Prism JS for code syntax highlighting -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/components/prism-bash.min.js"></script>
</head>
<body class="is-preload">
    <div id="wrapper">
        <div id="main">
            <div class="inner">
                <header id="header">
                    <p> <strong>This Page is still under Construction Kubernetes</strong></p>
                    <!-- Social Icons -->
                </header>

                <!-- Content -->
                <section>
                    <header class="main">
                        <h1>Kubernetes</h1>
                        <h2>Install Kubernetes Cluster to AWS</h2>
						<li>Execute the commands below to Install EKS service.</li>

                    </header>
					<style>
					  .codebox {
						background-color: #f5f5f5; /* Change this to your desired background color */
						border: none; /* Removes any border from the codebox */
                        width: 80%;
					  }
					  
					  .codebox pre {
						border: none; /* Removes any border from the pre element */
						background: none; /* Removes the default background */
					  }
					  
					  .codebox code {
						border: none; /* Removes any border from the code element */
						background: none; /* Removes the default background */
					  }
					</style>
					<div class="codebox">
                        <pre><code class="language-hcl">
git clone https://github.com/hashicorp/learn-terraform-provision-eks-cluster
cd learn-terraform-provision-eks-cluster
terraform init
terraform plan
                        </code></pre>
                    </div>
					<br>
					<li>I will not share entire plan but if you run without any changes it should be out put the same.</li>
                    <div class="codebox">
                        <pre><code class="language-hcl">
Plan: 67 to add, 0 to change, 0 to destroy.

                        </code></pre>
                    </div>
					<br>
					<li>Output of <strong>terraform apply</strong> command. Enter <strong>"yes" </strong> or run the command <strong>terraform apply --auto-approve</strong></li>
					<li>It will take 10 or max 15 minute to create EKS infrastructure. Login to AWS console and navigate to the Region that you install the cluster.</li>

                    <!-- New Code Box for Execution Plan -->
                    <div class="codebox">
                        <pre><code class="language-hcl">
Plan: 67 to add, 0 to change, 0 to de
Changes to Outputs:
  + cluster_endpoint          = (known after apply)
  + cluster_name              = (known after apply)
  + cluster_security_group_id = (known after apply)
  + region                    = "eu-west-2"

Do you want to perform these actions?
  Terraform will perform the actions described above.
  Only 'yes' will be accepted to approve.

  Enter action
                        </code></pre>
                    </div>
                </section>
            </div>
        </div>

        <!-- Sidebar -->
			<div id="sidebar">
				<div class="inner">
        <!-- Menu and Footer sections as required -->
		<nav id="menu">
			<header class="major">
				<h2>Menu</h2>
			</header>
			<ul>
				<li><a href="{% url 'homepage_view' %}">Home Page</a></li>
				<li>
					<span class="opener">DevOps</span>
					<ul>
						<li><a href="{% url 'index_view' %}">Index</a></li>
						<li><a href="{% url 'aws_view' %}">Aws</a></li>
						<li><a href="{% url 'jenkins_view' %}">Jenkins</a></li>
						<li><a href="{% url 'kubernetes_view' %}">Kubernetes</a></li>
						<li><a href="{% url 'ssl_view' %}">SSL/TLS Automation</a></li>
						<li><a href="{% url 'terraform_view' %}">Terraform</a></li>
					</ul>						
				</li>
				<li>
					<span class="opener">German Practice</span>
					<ul>
						<li><a href="{% url 'artickle_view' %}">Artikles</a></li>
						<li><a href="{% url 'verbs_view' %}">Verb Konjugations</a></li>
					</ul>
				</li>
			</nav>
			<section>
				<header class="major">
					<h2>Get in touch</h2>
				</header>
				<ul class="contact">
					<li class="icon solid fa-envelope">
						<a href="mailto:bergtechlab@gmail.com?subject=Question&body=Hello,">bergtechlab@gmail.com</a>
					</li>					<li class="icon solid fa-phone">(+49)0000000000</li>
					<li class="icon solid fa-home">Germany</li>
				</ul>
			</section>
				<!-- Footer -->
				<footer id="footer">
					<p class="copyright">&copy; Untitled. All rights reserved. Demo Images: <a href="https://unsplash.com">Unsplash</a>. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
				</footer>
		
				</div>
			</div>
		</div>
   

    <!-- Scripts -->
    <script src="/static/assets/js/jquery.min.js"></script>
    <script src="/static/assets/js/browser.min.js"></script>
    <script src="/static/assets/js/breakpoints.min.js"></script>
    <script src="/static/assets/js/util.js"></script>
    <script src="/static/assets/js/main.js"></script>
</body>
</html>
