<!DOCTYPE HTML>
<html>
<head>
    <title>bergtechlab-Terraform</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/static/assets/css/main.css" />
    <link rel="stylesheet" href="/static/assets/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/themes/prism.min.css" />

    <!-- Prism JS for code syntax highlighting -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/components/prism-bash.min.js"></script>
</head>
<body class="is-preload">
    <div id="wrapper">
        <div id="main">
            <div class="inner">
                <header id="header">
                    <p> <strong>This Page is still under Construction Terraform</strong></p>
                    <!-- Social Icons -->
                </header>

                <!-- Content -->
                <section>
                    <header class="main">
                        <h1>SSL/TLS Automation</h1>
                        <ol>In this section we will automate our SSL certifaction process. Currently our certifaction will expire in 3 months.
                        We will use Certbot for to automate this process with using Certbot there are others ways to build automation like you can use Terraform.
						You can find the <a href="https://www.inmotionhosting.com/support/website/ssl/lets-encrypt-ssl-ubuntu-with-certbot/" target="_blank">Certbot</a>  installation to Ubuntu.</ol>


                    </header>
					<style>
					  .codebox {
						background-color: #f5f5f5; /* Change this to your desired background color */
						border: none; /* Removes any border from the codebox */
            			width: 60%;
					  }
	  
					  .codebox pre {
						border: none; /* Removes any border from the pre element */
						background: none; /* Removes the default background */
					  }
					  
					  .codebox code {
						border: none; /* Removes any border from the code element */
						background: none; /* Removes the default background */
					  }
					  .codebox-1 {
						background-color: #f5f5f5; /* Change this to your desired background color */
						border: none; /* Removes any border from the codebox */
            			width: 105%;
					  }
					  .codebox-1 pre {
						border: none; /* Removes any border from the pre element */
						background: none; /* Removes the default background */
					  }
					  
					  .codebox-1 code {
						border: none; /* Removes any border from the code element */
						background: none; /* Removes the default background */
					  }
					</style>

					<ol>Lets update our Ubuntu Server</ol>

					<div class="codebox">
                        <pre><code class="language-hcl">
ubuntu@ip-10-1-15-12:~$ sudo apt update
                        </code></pre>
                    </div>
					<br>
					<li>Check for installed <strong>timers</strong> .</li>

                    <div class="codebox">
                        <pre><code class="language-hcl">
systemctl list-timers
                        </code></pre>
                    </div>
					<br>
					<li>We search for <strong>Certbot</strong> output.</li>

                    <!-- New Code Box for Execution Plan -->
                    <div class="codebox-1">
                        <pre><code class="language-hcl">
NEXT                   LEFT LAST                 PASSED UNIT
Fri 2024-05-17 10:00   49s Fri 2024-05-17 09:50  sysstat-collect.timer
<strong>Fri 2024-05-17 13:21  3h 22min Fri 2024-05-17    certbot.timer</strong>
                        </code></pre>
                    </div>
					<li>Search for the timer file.</li>
					<div class="codebox-1">
                        <pre><code class="language-hcl">
ubuntu@ip-10-1-15-12:~$ sudo find / -name certbot.timer
/usr/lib/systemd/system/certbot.timer
/var/lib/systemd/deb-systemd-helper-enabled/timers.target.wants/certbot.timer
/etc/systemd/system/timers.target.wants/certbot.timer
                        </code></pre>
                    </div>
					<li>Search for the timer file.</li>
					<div class="codebox-1">
                        <pre><code class="language-hcl">
find / -name certbot.timer
cat /usr/lib/systemd/system/certbot.timer
[Unit]
Description=Run certbot twice daily

[Timer]
OnCalendar=*-*-* 00,12:00:00  <<<<<<  Everyday Noon timer will be executed.
RandomizedDelaySec=43200
Persistent=true

[Install]
WantedBy=timers.target
                        </code></pre>
                    </div>
					<li>Run the service with the command below.</li>
					<div class="codebox">
                        <pre><code class="language-hcl">
systemctl start certbot.timer; 
systemctl enabled certbot.timer; 

                        </code></pre>
                    </div>

					<br>
					<li>Service out should be like this then you successfully set a certifaction timer.</li>
					<br>
					<div class="codebox-1">
                        <pre><code class="language-hcl">
sudo systemctl status certbot.timer
certbot.timer - Run certbot twice daily
 Loaded: loaded (/usr/lib/systemd/system/certbot.timer; enabl
 Active: active (waiting) since Wed 2024-05-15 17:34:19 UTC; 1 day 17h ago
 Trigger: Fri 2024-05-17 22:16:25 UTC; 11h left
 Triggers: ● certbot.service

May 15 17:34:19 ip-10-1-15-12 systemd[1
						</code></pre>
					</div>
                </section>
            </div>
        </div>

        <!-- Sidebar -->
			<div id="sidebar">
				<div class="inner">
        <!-- Menu and Footer sections as required -->
		<nav id="menu">
			<header class="major">
				<h2>Menu</h2>
			</header>
			<ul>
				<li><a href="{% url 'homepage_view' %}">Home Page</a></li>
				<li>
					<span class="opener">DevOps</span>
					<ul>
            <li><a href="{% url 'index_view' %}">Index</a></li>
						<li><a href="{% url 'aws_view' %}">Aws</a></li>
						<li><a href="{% url 'jenkins_view' %}">Jenkins</a></li>
						<li><a href="{% url 'kubernetes_view' %}">Kubernetes</a></li>
						<li><a href="{% url 'terraform_view' %}">IaaC with Terraform</a></li>
						<li><a href="{% url 'ssl_view' %}">SSL/TLS Automation</a></li>
					</ul>						
				</li>
				<li>
					<span class="opener">German Practice</span>
					<ul>
						<li><a href="{% url 'artickle_view' %}">Artikles</a></li>
						<li><a href="{% url 'verbs_view' %}">Verb Konjugations</a></li>
					</ul>
				</li>
			</nav>
      <section>
        <header class="major">
          <h2>Get in touch</h2>
        </header>
        <ul class="contact">
			<li class="icon solid fa-envelope">
				bergtechlab@gmail.com
			</li>
			<li class="icon solid fa-phone">(+49)0000000000</li>
          <li class="icon solid fa-home">Germany</li>
        </ul>
      </section>
				<!-- Footer -->
				<footer id="footer">
					<p class="copyright">&copy; Untitled. All rights reserved. Demo Images: <a href="https://unsplash.com">Unsplash</a>. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
				</footer>
		
				</div>
			</div>
		</div>
   

    <!-- Scripts -->
    <script src="/static/assets/js/jquery.min.js"></script>
    <script src="/static/assets/js/browser.min.js"></script>
    <script src="/static/assets/js/breakpoints.min.js"></script>
    <script src="/static/assets/js/util.js"></script>
    <script src="/static/assets/js/main.js"></script>
</body>
</html>
